<h1 class="width-fit mx-auto my-5 title">{{title}}</h1>

<h3 class="width-fit mx-auto">Available now : <span>{{available}} €</span></h3>
<div class="transaction-form">
  <h2>Transaction Recording</h2>
  <form class="d-flex justify-content-between" [formGroup]="form" (ngSubmit)="operation()">
    <div class="form-group">
      <label for="label">Label :</label>
      <input type="text" id="label" formControlName="label" required>
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" id="amount" formControlName="amount" required>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <select id="category" formControlName="category" required>
        <option value="credit">Credit</option>
        <option value="debit">Debit</option>
      </select>
    </div>
    <button type="submit" class="">Add</button>
  </form>
</div>


<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Label</th>
    <th>Amount</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="transactions; else nothing">
    <ng-container *ngFor="let transaction of transactions">
        <tr  [ngClass]="{'credit-transaction' : transaction.category == 'credit' ,'debit-transaction' : transaction.category == 'debit'  }">
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.label }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.category }}</td>
        </tr>
    </ng-container>
  </ng-container>
  <ng-template #nothing>
    <tr>
      <td colspan="4">No Transactions yet!</td>
    </tr>
  </ng-template>
  </tbody>
</table>




